:root{
    --cor_font_head:#e0ffff;
    --cor_backG:#f8f8f8;
    --cor_font_hover_head:#7e9292;
    --cor_font_text: #013f01;
    --cor_box: #32cd32;
    --cor_hover_box: #228B22;
    --fonte_head: Arial;
    --fonte_text: Garamond;
}
.caixaTexto{
    padding: 10px;
    margin: 18px;
    background-color: var(--cor_box);
    border-radius: 15px;
}
.caixaTexto p {
    font-size: 1.2em;
    color: var(--cor_backG);
    text-align: justify;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.cana{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 40px;
}   
.img1{
    width: 70%;
}
.caixaTexto h3{
    text-align: justify;
    color: var(--cor_backG);
}